<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&family=Ms+Madi&family=Water+Brush&display=swap" rel="stylesheet">
    <title>Orion Trading</title>

</head>


<body>
    <div class="header">

        <div class="logo">
            <a href="https://www.oriontrading.com.br/"><img src="{{ url_for('static', filename='images/logobranca.png') }}"> </a>
        </div>


    <div class="conteudo">
         <div class="title1">
            Trading de forma séria!
        </div>

        <div class="text1">
            A Orion Trading traz as ferramentas ideais para que traders e investidores possam operar no mercado de forma profissional.
        </div>
    </div>


    <section id="produtos">

    </section>

    <section id="metodos">

        <div class="img-metodos"><img src="{{ url_for('static', filename='images/POST ORB 15.jpeg') }}"></div>
        <div class="container-metodos">
            <h2>Métodos Robustos</h1>
            <h3>Levamos o trading a sério!</h3>
            <p>A Orion é especialista em desenvolver métodos de trading de maneira profissional, usando-se de metodologias estatísticas para criar estratégias assim como os grandes fundos de investimento.</p>
        </div>

    </section>




    <footer>
        <span id="footer-text">©Copyright 2022   |   Orion Robust Trading</span>
    </footer>


</body>
</html>